$prefixes: ("-webkit-","-moz-", "-o-", "");
@mixin selection($color) {
    @each $prefix in $prefixes {
        ::#{$prefix}selection {
            background: $color;
            outline: 2px solid white;
        }
    }
}

@mixin Container($color) {
	float: left;
	background-color: $color;
	padding: 0.5em;
	@include border-radius(1px);
	@include selection($link_color);
	a {
		@include unstyled-link;
		@include link-colors($link_color, contrast-color($link_color), contrast-color($link_color), $link_color, $link_color);
	}
	ul {
		margin-bottom: 1em;
	}
	* {
		@include transition(all $transitions_speed ease-in-out 0);
	}
}

@mixin Clickable() {
	a:hover {
		img {
			outline: 5px solid $image_color;
		}
	}
}

@mixin Watermark($color, $font_size, $opacity, $float: none) {
	float: $float;
	color: $color;
	padding-top: 20px;
	font-size: $font_size;
	font-weight:bold;
	cursor: default;
	@include inline-block;
	@include opacity($opacity);
	@include user-select(none);	
}