@import "_base";

body {
	height: 100%;
	margin-bottom: 5px;
	background: $background_color;
}

// Content look and feel
.content {
	color: $text_color;
	p {
		text-align: justify;
	}
	h1,h2,h3 {
		color: $title_color;
		margin-top: 0px;
	}
	.timestamp {
		@include Watermark($text_color, 24px, $timestamp_opacity, right);
	}
	ul {
		list-style-type: square;
	}

}

.socials {
	text-align: right;
	font-size: 20px;
	a {
		margin-right: 5px;
	}
}

// Containers
.background {
	@include Watermark($text_color, 84px, $timestamp_opacity);
}

.about {
	@include Container($about_color);
}

.work {
	@include Container($work_color);
	@include Clickable();
}

.blog {
	@include Container($blog_color);
}

.experiment {
	@include Container($experiment_color);
	@include Clickable();
}

.project {
	@include Container($project_color);
	@include Clickable();
}

// 404
.not-found {
	position: absolute;
	left: 15px;
	bottom: 0;
	text-align: center;
	font-size: $not_found_size;
	color: contrast-color($background_color);
	.bubble {
		position: absolute;
		font-size: $not_found_size * 2;
		top: -$not_found_size * 1.5;
		p {
			position: absolute;
			font-size: $not_found_size / 4;
			top: $not_found_size / 1.5;
			left: $not_found_size / 3;
			color: lighten($background_color, 50%);
		}
	}
}

@import "_override";