doctype 5
html(lang="en")
	head
		title SomethingSomething

		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		meta(name="viewport", content="width=device-width")
		
		link(rel="stylesheet", href="css/bootstrap.min.css")
		link(rel="stylesheet", href="css/font-awesome.min.css")
		link(rel="stylesheet", href="css/styles.css")

		script(src="js/vendor/modernizr-2.6.2.min.js")

	body
		.container
			.row
				ul.thumbnail
					li.span5
						div.about
							span.background about
							div.content
								include content/about.jade

					li.span7
						div.blog
							span.background blog
							div.content
								include content/blog/02052013_webpublish.markdown

					li.span5
						div.work
							span.background work
							div.content
								include content/work/05072013_nutricia2011.markdown

					li.span6
						div.experiment
							span.background experiment
							div.content
								include content/experiment/07052013_prezilogo.markdown

					li.span6
						div.work
							span.background work
							div.content
								include content/work/05072013_nutricia2011.markdown


		include scripts/javascript.jade