include header.jade
		title Yet Another Me

	body
		.container
			.row
				ul.thumbnail
					li.span5
						div.about
							span.background about
							div.content
								include content/about.jade

					li.span7
						div.work
							span.background work
							div.content
								include content/work/05072013_nutricia2011.markdown

					li.span7
						div.blog
							span.background blog
							div.content
								include content/blog/02052013_webpublish.markdown
								span.timestamp 05/05/2012


		include scripts/javascript.jade