:markdown
	### José Enrique D'Arnaude

	I am a 30 year old Software Engineer born in Barcelona, Spain.  

	I can code (somewhat) DirectX/OpenGL(ES), C++, HTML5/CSS3, Javascript and python.  

	Currently working for [Prezi](http://www.prezi.com) in Budapest, Hungary.

.socials
	a(href="http://es.linkedin.com/in/jedarnaude")
		i.icon-linkedin-sign.icon-large
	a(href="http://twitter.com/jedarnaude")
		i.icon-twitter-sign.icon-large
	a(href="mailto:jedarnaude@gmail.com?Subject=Contact%website")
		i.icon-envelope-alt.icon-large