script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
script(type='text/javascript')
	window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')
script(src='js/vendor/bootstrap.min.js')
script(src='js/vendor/jquery.masonry.min.js')
script(src='js/plugins.js')
script(src='js/main.js')
script(type='text/javascript')
	var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));